<html>

<head>
    <meta charset="UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>INK WAVE Profile Generator</title>
</head>

<body>
    <div id="app">
        <div class="image-generator">
            <div class="content">
                <div class="row">
                
                    <!-- ページタイトル -->
                    <div class="col-12">
                        <h1>INK WAVE Profile Generator</h1>
                    </div>

                    <!-- 名前 -->
                    <div class="col-12 mb-3">
                        <label for="input-name" class="form-label">Name</label>
                        <input type="text" v-model="inputName" id="input-name" class="form-control" placeholder="10文字以内" name="name"maxlength="10" />
                    </div>

                    <!-- 年齢 -->
                    <div class="col-12 col-md-2 mb-3">
                        <label for="input-age" class="form-label">Age</label>
                        <input type="text" v-model="inputAge" id="input-age" class="form-control" name="age" maxlength="2" />
                    </div>

                    <!-- 性別 -->
                    <div class="col-12 col-md-4 mb-3">
                        <label for="select-gender" class="form-label">Gender</label>
                        <select v-model="selectGender" id="select-gender" class="form-select" name="gender">
                            <option value="0" selected>非公開</option>
                            <option value="1">男性</option>
                            <option value="2">女性</option>
                        </select>
                    </div>

                    <!-- ボイスチャット -->
                    <div class="col-12 mb-3">
                        <label for="select-vc" class="form-label">VC</label>
                        <div class="form-check">
                            <div class="form-check-inline">
                                <input v-model="selectVoiceChat" class="form-check-input" type="checkbox" id="vc1" value="1">
                                <label class="form-check-label" for="vc1">Discord</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input v-model="selectVoiceChat" class="form-check-input" type="checkbox" id="vc2" value="2">
                                <label class="form-check-label" for="vc2">LINE</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input v-model="selectVoiceChat" class="form-check-input" type="checkbox" id="vc3" value="3">
                                <label class="form-check-label" for="vc3">Nintendo Switch</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input v-model="selectVoiceChat" class="form-check-input" type="checkbox" id="vc0" value="0">
                                <label class="form-check-label" for="vc0">None</label>
                            </div>
                        </div>
                    </div>

                    <!-- XP -->
                    <div class="col-12 col-sm-6 mb-3">
                        <label for="input-area" class="form-label">エリア</label>
                        <input type="text" v-model="inputXpArea" id="input-area" class="form-control"  name="area" maxlength="6" />
                    </div>
                    <div class="col-12 col-sm-6 mb-3">
                        <label for="input-yagura" class="form-label">ヤグラ</label>
                        <input type="text" v-model="inputXpYagura" id="input-yagura" class="form-control" name="yagura" value="" maxlength="6" />
                    </div>
                    <div class="col-12 col-sm-6 mb-3">
                        <label for="input-hoko" class="form-label">ホコ</label>
                        <input type="text" v-model="inputXpHoko" id="input-hoko" class="form-control" name="hoko" value="" maxlength="6" />
                    </div>
                    <div class="col-12 col-sm-6 mb-3">
                        <label for="input-asari" class="form-label">アサリ</label>
                        <input type="text" v-model="inputXpAsari" id="input-asari" class="form-control" name="asari" maxlength="6" />
                    </div>
                    <div class="col-12 col-sm-6 mb-3">
                        <label for="input-fes" class="form-label">ナワバリ</label>
                        <input type="text" v-model="inputXpFes" id="input-fes" class="form-control" name="fes" maxlength="6" />
                    </div>

                    <!-- ブキ -->
                    <div class="col-12 mb-3">
                        <label for="input-weapon" class="form-label">Weapon</label>
                        <textarea type="text" v-model="inputWeapon" id="input-weapon" class="form-control" name="weapon"></textarea>
                    </div>

                    <!-- Range -->
                    <div class="col-12 col-sm-6 mb-3">
                        <label for="select-range" class="form-label">Range</label>
                        <div class="form-check">
                            <div class="form-check">
                                <input v-model="selectRange" class="form-check-input" type="checkbox" id="range1" value="1">
                                <label class="form-check-label" for="range1">SHORT</label>
                            </div>
                            <div class="form-check">
                                <input v-model="selectRange" class="form-check-input" type="checkbox" id="range2" value="2">
                                <label class="form-check-label" for="range2">MIDDLE</label>
                            </div>
                            <div class="form-check">
                                <input v-model="selectRange" class="form-check-input" type="checkbox" id="range3" value="3">
                                <label class="form-check-label" for="range3">LONG</label>
                            </div>
                        </div>
                    </div>

                    <!-- 役割 -->
                    <div class="col-12 col-sm-6 mb-3">
                        <label for="select-role" class="form-label">Role</label>
                        <div class="form-check">
                            <div class="form-check">
                                <input v-model="selectRole" class="form-check-input" type="checkbox" id="role1" value="1">
                                <label class="form-check-label" for="role1">ATTACKER</label>
                            </div>
                            <div class="form-check">
                                <input v-model="selectRole" class="form-check-input" type="checkbox" id="role2" value="2">
                                <label class="form-check-label" for="role2">SUPPORTER</label>
                            </div>
                            <div class="form-check">
                                <input v-model="selectRole" class="form-check-input" type="checkbox" id="role3" value="3">
                                <label class="form-check-label" for="role3">CONTROLLER</label>
                            </div>
                            <div class="form-check">
                                <input v-model="selectRole" class="form-check-input" type="checkbox" id="role4" value="4">
                                <label class="form-check-label" for="role4">TANKER</label>
                            </div>
                            <div class="form-check">
                                <input v-model="selectRole" class="form-check-input" type="checkbox" id="role5" value="5">
                                <label class="form-check-label" for="role5">MEGAPHONE RUNNER</label>
                            </div>
                            <div class="form-check">
                                <input v-model="selectRole" class="form-check-input" type="checkbox" id="role6" value="6">
                                <label class="form-check-label" for="role6">BALANCER</label>
                            </div>
                        </div>
                    </div>

                    <!-- 参加曜日 -->
                    <div class="col-12 mb-3">
                        <label for="select-date" class="form-label">League Date</label>
                        <div class="form-check">
                            <div class="form-check-inline">
                                <input v-model="selectLeagueDate" class="form-check-input" type="checkbox" id="date1" value="1">
                                <label class="form-check-label" for="date1">MON</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input v-model="selectLeagueDate" class="form-check-input" type="checkbox" id="date2" value="2">
                                <label class="form-check-label" for="date2">WED</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input v-model="selectLeagueDate" class="form-check-input" type="checkbox" id="date3" value="3">
                                <label class="form-check-label" for="date3">FRI</label>
                            </div>
                        </div>
                    </div>

                    <!-- メモ -->
                    <div class="col-12 mb-3">
                        <label for="input-memo" class="form-label">Memo</label>
                        <textarea type="text" v-model="inputMemo" id="input-memo" class="form-control" name="memo"></textarea>
                    </div>

                    <div class="col-12 mb-3 d-grid gap-2">
                        <button type="button" class="btn btn-primary" @click="generateImage">Generate Image</button>
                    </div>

                    <canvas ref="imageCanvas" class="confirm-image" :width="canvasWidth" :height="canvasHeight"></canvas>
                    <a :download="imageName" :href="imageDataURL" v-if="imageDataURL">Download Image</a>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    new Vue({
        el: '#app',
        data() {
            return {
                // 入力項目
                inputName: '',          // 名前
                inputAge: '',           // 年齢
                selectGender: '0',        // 性別
                selectVoiceChat: [],    // VC
                inputXpArea: '',        // XP（エリア）
                inputXpYagura: '',      // XP（ヤグラ）
                inputXpHoko: '',        // XP（ホコ）
                inputXpAsari: '',       // XP（アサリ）
                inputXpFes: '',         // フェスパワー
                inputWeapon: '',        // 使用ブキ
                selectRange: [],        // 範囲
                selectRole: [],         // 役割
                selectLeagueDate: [],   // 参加リーグ曜日
                inputMemo: '',          // メモ
                imageDataURL: null,
                imageName: 'generated_image.png',
                baseImageUrl: 'card.png', // ベース画像のURLを設定
                canvasWidth: 1080, // キャンバスの幅
                canvasHeight: 1920 // キャンバスの高さ
            };
        },
        methods: {
            generateImage() {
                const canvas = this.$refs.imageCanvas;
                const context = canvas.getContext('2d');

                // Draw base image
                const baseImage = new Image();
                baseImage.src = this.baseImageUrl;
                baseImage.onload = () => {
                    context.drawImage(baseImage, 0, 0, this.canvasWidth, this.canvasHeight);

                    // Draw text
                    context.fillStyle = 'white';
                    context.font = '30px Arial';

                    // 入力された内容は指定の位置に配置
                    context.fillText(this.inputName, 100, 375);
                    context.fillText(this.inputAge, 100, 535);
                    context.fillText(this.inputXpArea, 100, 740);
                    context.fillText(this.inputXpYagura, 285, 740);
                    context.fillText(this.inputXpHoko, 480, 740);
                    context.fillText(this.inputXpAsari, 670, 740);
                    context.fillText(this.inputXpFes, 860, 740);
                    context.fillText(this.inputWeapon, 50, 200);
                    context.fillText(this.inputMemo, 50, 200);

                    // Update image data URL
                    canvas.crossOrigin = "anonymous"; 
                    this.imageDataURL = canvas.toDataURL();
                };
            }
        },
        // デバッグ用…
        watch: {
            inputName() {
                console.log("inputName: " + this.inputName)
            },
            inputAge() {
                console.log("inputAge: " + this.inputAge)
            },
            selectGender() {
                console.log("selectGender: " + this.selectGender)
            },
            selectVoiceChat() {
                console.log("selectVoiceChat: " + this.selectVoiceChat)
            },
            inputXpArea() {
                console.log("inputXpArea: " + this.inputXpArea)
            },
            inputXpYagura() {
                console.log("inputXpYagura: " + this.inputXpYagura)
            },
            inputXpHoko() {
                console.log("inputXpHoko: " + this.inputXpHoko)
            },
            inputXpAsari() {
                console.log("inputXpAsari: " + this.inputXpAsari)
            },
            inputXpFes() {
                console.log("inputXpFes: " + this.inputXpFes)
            },
            inputWeapon() {
                console.log("inputWeapon: " + this.inputWeapon)
            },
            selectRange() {
                console.log("selectRange: " + this.selectRange)
            },
            selectRole() {
                console.log("selectRole: " + this.selectRole)
            },
            selectLeagueDate() {
                console.log("selectLeagueDate: " + this.selectLeagueDate)
            },
            inputMemo() {
                console.log("inputMemo: " + this.inputMemo)
            },
        }
    });
</script>

<style scoped>
    .image-generator {
        display: flex;
        /* align-items: center; */
        /* justify-content: center; */
        min-height: 100vh;
        background-color: #f0f0f0;
    }
    .content {
        z-index: 1;
        /* text-align: center; */
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    .confirm-image {
        width: 100%;
        height: auto;
    }
</style>

</html>